@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?luipjz");
  src: url("fonts/icomoon.eot?luipjz#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?luipjz") format("truetype"),
    url("fonts/icomoon.woff?luipjz") format("woff"),
    url("fonts/icomoon.svg?luipjz#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"],
.dropbtn::after,
.list-title:after {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before {
  content: "\e900";
}
.icon-close:before,.btn-menu.active i:before {
  content: "\e901";
}
.icon-menu:before {
  content: "\e902";
}
.icon-minus:before,
.list-title.isOpen::after {
  content: "\e903";
}
.icon-play:before {
  content: "\e904";
  color: #fff;
}
.icon-plus:before {
  content: "\e905";
}
